# Importing Data

First, let's import and format the data in our notebook. We'll start with the data on electricity consumption.

This data is in the form of excel sheets (.xls), so we should be able to use the pandas .ExcelFile function to import the data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
xl_2002 = pd.ExcelFile('./Data/Consumption/2002_ERCOT_Hourly_Load_Data.xls')

In [3]:
print(xl_2002.sheet_names)

['native_Load_2002']

In [4]:
cons_2002 = xl_2002.parse('native_Load_2002')

In [9]:
cons_2002.tail()

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
8755,2002-12-31 20:00:00,8147.901709,1212.388093,1102.019116,1025.511727,10340.550087,2142.370628,4704.499036,831.445283,29506.685679
8756,2002-12-31 21:00:00,7979.696214,1179.092793,1079.133364,995.467557,9973.346014,2088.368682,4542.054827,814.855029,28652.014481
8757,2002-12-31 22:00:00,7739.078350,1130.887905,1064.220699,968.681093,9702.505576,2012.524138,4412.336834,801.963983,27832.198579
8758,2002-12-31 23:00:00,7545.696137,1112.058942,1057.281233,941.885164,9367.219054,1945.962142,4311.669894,786.692540,27068.465106
8759,2003-01-01 00:00:00,7443.537200,1059.603660,1043.142000,920.722110,9098.186400,1878.790500,4213.323230,758.288460,26415.593560

In [51]:
xl_2003 = pd.ExcelFile('./Data/Consumption/2003_ERCOT_Hourly_Load_Data.xls')
cons_2003 = xl_2003.parse('native_Load_2003')
cons_2003.head()

,Hour_End,Hour_End_1,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,2003-01-01 01:00:00.003,37622.041667,7314.780744,1036.148174,1045.133783,923.252130,8894.325899,1789.728088,4126.710428,720.614612,25850.693856
1,2003-01-01 01:59:59.997,37622.083333,7191.622771,1052.905958,1057.384009,925.322632,8903.379971,1743.996713,4122.863299,717.870496,25715.345849
2,2003-01-01 03:00:00.000,37622.125000,7070.109415,1054.472158,1066.026565,930.799970,8956.825659,1705.079075,4096.731053,714.620617,25594.664511
3,2003-01-01 04:00:00.003,37622.166667,6995.856927,1071.321582,1073.569811,940.416419,9051.877218,1686.165070,4072.129754,717.546966,25608.883747
4,2003-01-01 04:59:59.997,37622.208333,7039.006752,1099.778468,1082.572201,956.271373,9261.293160,1698.247068,4116.080308,728.963828,25982.213157

In [60]:
cons_2003_1 = pd.read_csv('./Data/Consumption/2003_ERCOT_Hourly_Load_Data.csv')
cons_2003_1['Time'] = np.nan
cons_2003_1.iloc[0,0]
cons_2003_1.iloc[0,10] = time.strptime(cons_2003_1.iloc[0,0], '%m/%d/%Y %H:%M')

ValueError: setting an array element with a sequence.

In [73]:
cons_2003_1 = pd.read_csv('./Data/Consumption/2003_ERCOT_Hourly_Load_Data.csv')
cons_2003_1['Year'] = np.nan
cons_2003_1['Month'] = np.nan
cons_2003_1['Day'] = np.nan
cons_2003_1['Hour'] = np.nan
for i in range(len(cons_2003_1)):
    ti = time.strptime(cons_2003_1.iloc[i,0], '%m/%d/%Y %H:%M')
    cons_2003_1.iloc[i,10] = ti.tm_year
    cons_2003_1.iloc[i,11] = ti.tm_mon
    cons_2003_1.iloc[i,12] = ti.tm_mday
    cons_2003_1.iloc[i,13] = ti.tm_hour
cons_2003_1.iloc[1000:1100]

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT,Year,Month,Day,Hour
1000,2/11/2003 17:00,8064.510683,1119.535281,1056.718608,877.452155,9257.223904,1932.769224,4254.158476,704.427164,27266.79549,2003.0,2.0,11.0,17.0
1001,2/11/2003 18:00,8123.311883,1135.815639,1049.293699,886.660897,9338.486741,1968.099685,4337.114681,710.908881,27549.69211,2003.0,2.0,11.0,18.0
1002,2/11/2003 19:00,8651.266541,1242.152695,1071.690362,962.342643,10056.159560,2108.668411,4724.879599,773.181192,29590.34100,2003.0,2.0,11.0,19.0
1003,2/11/2003 20:00,8808.777724,1265.780560,1086.003424,990.205038,10246.947510,2174.904720,4904.756821,799.323104,30276.69890,2003.0,2.0,11.0,20.0
1004,2/11/2003 21:00,8765.816573,1242.039322,1080.426218,980.384558,10047.314850,2172.143031,4869.464271,797.094882,29954.68370,2003.0,2.0,11.0,21.0
1005,2/11/2003 22:00,8449.909725,1211.505405,1054.013983,945.389681,9620.820028,2071.073455,4645.286228,769.196650,28767.19516,2003.0,2.0,11.0,22.0
1006,2/11/2003 23:00,7948.438466,1143.633535,1018.938606,880.425546,8827.666120,1918.198304,4262.407020,713.896031,26713.60363,2003.0,2.0,11.0,23.0
1007,2/12/2003 0:00,7473.100400,1025.301060,966.982310,807.775590,7919.737600,1733.147000,3815.867190,645.390450,24387.30160,2003.0,2.0,12.0,0.0
1008,2/12/2003 1:00,6878.405048,964.261182,975.450707,795.967809,7718.611055,1631.669672,3494.877990,628.950983,23088.19445,2003.0,2.0,12.0,1.0
1009,2/12/2003 2:00,6753.919130,955.305838,968.666826,791.347738,7594.583838,1543.258234,3343.064008,623.669517,22573.81513,2003.0,2.0,12.0,2.0
1010,2/12/2003 3:00,6624.799903,949.708998,976.721321,800.463975,7693.710448,1509.165711,3289.784270,632.796301,22477.15093,2003.0,2.0,12.0,3.0
1011,2/12/2003 4:00,6587.321465,960.230428,985.150363,819.868067,7901.637277,1493.167477,3286.701197,639.801309,22673.87758,2003.0,2.0,12.0,4.0
1012,2/12/2003 5:00,6713.186197,964.453897,1008.638825,854.082120,8259.867975,1535.035833,3337.464722,665.211889,23337.94146,2003.0,2.0,12.0,5.0
1013,2/12/2003 6:00,7209.231682,1067.804755,1049.788174,943.527822,9297.346878,1666.937274,3710.203880,734.756341,25679.59681,2003.0,2.0,12.0,6.0
1014,2/12/2003 7:00,8029.682838,1211.285591,1157.495162,1093.654822,11059.780900,1924.415770,4410.084330,871.105391,29757.50480,2003.0,2.0,12.0,7.0
1015,2/12/2003 8:00,8064.990081,1297.250699,1216.313356,1149.670009,11792.789510,2009.584517,4619.802806,926.470393,31076.87137,2003.0,2.0,12.0,8.0
1016,2/12/2003 9:00,7805.297606,1282.609649,1182.326994,1093.046285,11297.762140,1992.158503,4462.096716,870.316795,29985.61469,2003.0,2.0,12.0,9.0
1017,2/12/2003 10:00,7742.524439,1269.943791,1154.226380,1036.883897,10836.924080,2018.613219,4471.914957,827.867121,29358.89788,2003.0,2.0,12.0,10.0
1018,2/12/2003 11:00,7748.210640,1249.308728,1139.927445,994.593508,10463.022160,2077.345920,4482.889062,799.215342,28954.51280,2003.0,2.0,12.0,11.0
1019,2/12/2003 12:00,7812.917636,1224.570530,1121.201238,954.722009,10093.614760,2110.596410,4445.721474,774.382530,28537.72658,2003.0,2.0,12.0,12.0
1020,2/12/2003 13:00,7857.982664,1207.812443,1102.653051,924.166019,9817.075950,2136.435705,4410.134293,761.096641,28217.35677,2003.0,2.0,12.0,13.0
1021,2/12/2003 14:00,7841.175903,1203.193806,1093.223044,909.859860,9663.330217,2198.909648,4381.830986,742.383807,28033.90727,2003.0,2.0,12.0,14.0
1022,2/12/2003 15:00,7870.015058,1193.592815,1082.473562,891.469063,9470.349185,2222.244018,4354.002404,724.298996,27808.44510,2003.0,2.0,12.0,15.0
1023,2/12/2003 16:00,7854.492307,1196.789481,1071.345131,874.237307,9320.192087,2226.336094,4357.369586,713.214111,27613.97610,2003.0,2.0,12.0,16.0
1024,2/12/2003 17:00,7875.136944,1209.100454,1070.950500,869.045369,9329.090408,2251.759363,4366.323841,716.713887,27688.12077,2003.0,2.0,12.0,17.0
1025,2/12/2003 18:00,7993.342565,1212.383103,1061.550456,877.633921,9382.223686,2247.041583,4479.686765,725.468631,27979.33071,2003.0,2.0,12.0,18.0
1026,2/12/2003 19:00,8413.074309,1293.224718,1084.849059,950.711606,10066.222480,2360.745325,4816.637165,777.081354,29762.54601,2003.0,2.0,12.0,19.0
1027,2/12/2003 20:00,8580.681863,1285.752617,1089.738118,973.511729,10054.234560,2398.178896,4856.655432,792.581703,30031.33492,2003.0,2.0,12.0,20.0
1028,2/12/2003 21:00,8548.229699,1267.422787,1079.920259,955.979051,9798.042064,2357.592392,4743.710591,782.000762,29532.89760,2003.0,2.0,12.0,21.0
1029,2/12/2003 22:00,8288.590990,1219.353894,1056.289208,920.068442,9329.738739,2238.232055,4588.231828,752.581588,28393.08674,2003.0,2.0,12.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,2/14/2003 15:00,8301.621343,1190.482979,1052.774848,884.732656,9864.440940,2290.370422,4537.931023,732.539534,28854.89375,2003.0,2.0,14.0,15.0
1071,2/14/2003 16:00,8230.623759,1169.940319,1050.770393,873.274647,9725.772268,2320.616331,4565.665278,724.958815,28661.62181,2003.0,2.0,14.0,16.0
1072,2/14/2003 17:00,8219.496479,1161.743211,1046.521164,860.706248,9549.439977,2340.149484,4550.570112,725.038612,28453.66529,2003.0,2.0,14.0,17.0
1073,2/14/2003 18:00,8271.228940,1151.248235,1039.511549,851.814978,9534.207055,2318.739740,4562.820059,720.901036,28450.47159,2003.0,2.0,14.0,18.0
1074,2/14/2003 19:00,8651.661237,1201.763894,1049.018202,883.091155,9707.575630,2373.472492,4734.514374,743.975220,29345.07220,2003.0,2.0,14.0,19.0
1075,2/14/2003 20:00,8703.567477,1198.648810,1050.619818,883.577263,9530.522387,2375.784811,4678.169317,751.134184,29172.02407,2003.0,2.0,14.0,20.0
1076,2/14/2003 21:00,8503.228677,1163.880072,1034.343456,853.947505,9192.014255,2313.109786,4528.589560,730.350942,28319.46425,2003.0,2.0,14.0,21.0
1077,2/14/2003 22:00,8218.222549,1111.312015,1017.327388,818.977325,8759.019235,2238.520067,4341.452826,709.221583,27214.05299,2003.0,2.0,14.0,22.0
1078,2/14/2003 23:00,7917.152368,1056.606004,989.324971,771.072410,8167.205336,2125.324141,4089.148825,671.284042,25787.11810,2003.0,2.0,14.0,23.0
1079,2/15/2003 0:00,7638.410600,973.849120,945.973510,708.125650,7369.409600,1975.925800,3755.661470,611.309600,23978.66535,2003.0,2.0,15.0,0.0
1080,2/15/2003 1:00,7295.430076,932.008123,955.057620,676.105014,6757.669158,1766.098983,3474.486196,583.282897,22440.13807,2003.0,2.0,15.0,1.0
1081,2/15/2003 2:00,7001.147704,889.798167,938.075828,645.653603,6509.737400,1649.868286,3267.530368,562.243074,21464.05443,2003.0,2.0,15.0,2.0
1082,2/15/2003 3:00,6747.160792,869.105155,931.318895,632.788693,6348.636917,1574.268727,3125.779258,553.703999,20782.76244,2003.0,2.0,15.0,3.0
1083,2/15/2003 4:00,6627.038419,847.619272,930.010396,622.053480,6284.244290,1530.668792,3081.893734,550.669321,20474.19770,2003.0,2.0,15.0,4.0
1084,2/15/2003 5:00,6507.727437,852.260906,934.519239,622.114509,6350.026513,1516.024863,3032.501075,557.548226,20372.72277,2003.0,2.0,15.0,5.0
1085,2/15/2003 6:00,6542.563539,877.669140,933.665230,642.904644,6608.481662,1505.337201,3111.943774,576.921676,20799.48687,2003.0,2.0,15.0,6.0
1086,2/15/2003 7:00,6686.695296,916.951748,973.950041,679.714830,7144.164862,1523.675330,3317.801984,629.206183,21872.16028,2003.0,2.0,15.0,7.0
1087,2/15/2003 8:00,6704.309632,963.173907,1034.236651,731.665684,7806.566405,1545.916695,3544.834207,695.701004,23026.40418,2003.0,2.0,15.0,8.0
1088,2/15/2003 9:00,6878.472586,1032.781101,1068.623188,806.213582,8566.645056,1722.924556,3816.245575,733.261613,24625.16726,2003.0,2.0,15.0,9.0
1089,2/15/2003 10:00,7302.219307,1081.948773,1090.609249,868.493744,9190.080225,1883.684959,4063.684929,765.365747,26246.08693,2003.0,2.0,15.0,10.0
1090,2/15/2003 11:00,7456.762325,1118.178952,1108.048768,911.957158,9607.966518,1995.692504,4217.005175,778.777620,27194.38902,2003.0,2.0,15.0,11.0
1091,2/15/2003 12:00,7476.723346,1119.191680,1100.940383,921.785891,9786.396174,2056.969266,4263.221261,770.978687,27496.20669,2003.0,2.0,15.0,12.0
1092,2/15/2003 13:00,7449.304569,1101.416541,1084.205670,910.461217,9695.954031,2080.749539,4247.977313,766.761831,27336.83071,2003.0,2.0,15.0,13.0
1093,2/15/2003 14:00,7296.778053,1085.975601,1068.715965,899.278099,9539.277147,2110.499338,4192.899478,750.760954,26944.18464,2003.0,2.0,15.0,14.0
1094,2/15/2003 15:00,7273.679236,1055.924769,1059.978298,890.583083,9397.120427,2156.057258,4087.765420,741.009771,26662.11826,2003.0,2.0,15.0,15.0
1095,2/15/2003 16:00,7318.379722,1049.634688,1056.147265,896.752795,9476.586219,2181.642275,4018.957946,740.783441,26738.88435,2003.0,2.0,15.0,16.0
1096,2/15/2003 17:00,7314.901272,1052.875095,1063.233598,914.687922,9594.517713,2207.010488,3974.299563,750.111873,26871.63752,2003.0,2.0,15.0,17.0
1097,2/15/2003 18:00,7501.348847,1057.435300,1074.130003,952.493384,9964.779448,2220.487550,3993.797825,772.475153,27536.94751,2003.0,2.0,15.0,18.0
1098,2/15/2003 19:00,8043.355882,1124.881193,1100.427393,1015.254845,10562.063710,2292.651927,4312.987929,819.095718,29270.71860,2003.0,2.0,15.0,19.0
1099,2/15/2003 20:00,8274.291309,1139.836009,1114.356745,1030.414888,10616.715050,2327.971075,4501.061755,841.506304,29846.15313,2003.0,2.0,15.0,20.0

In [55]:
cons_2003_1 = pd.read_csv('./Data/Consumption/2003_ERCOT_Hourly_Load_Data.csv')
cons_2003_1.head()

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,1/1/2003 1:00,7314.780744,1036.148174,1045.133783,923.252130,8894.325899,1789.728088,4126.710428,720.614612,25850.69386
1,1/1/2003 2:00,7191.622771,1052.905958,1057.384009,925.322631,8903.379971,1743.996713,4122.863299,717.870496,25715.34585
2,1/1/2003 3:00,7070.109415,1054.472158,1066.026565,930.799970,8956.825659,1705.079075,4096.731053,714.620617,25594.66451
3,1/1/2003 4:00,6995.856927,1071.321582,1073.569811,940.416419,9051.877218,1686.165070,4072.129754,717.546966,25608.88375
4,1/1/2003 5:00,7039.006752,1099.778468,1082.572201,956.271373,9261.293160,1698.247068,4116.080308,728.963828,25982.21316

In [44]:
x = cons_2003_1.iloc[12,0]
x

'1/1/2003 13:00'

In [45]:
import datetime
import time

In [62]:
a = time.strptime(x, '%m/%d/%Y %H:%M')
type(a)

time.struct_time

In [71]:
a.tm_mday

1

In [15]:
cons_2003_1.iloc[0,0].apply(lambda x: datetime.strptime(x,'%d%b%Y:%H:%M:%S.%f'))

0

In [34]:
xl_2004 = pd.ExcelFile('./Data/Consumption/2004_ERCOT_Hourly_Load_Data.xls')
cons_2004 = xl_2004.parse('native_Load_2004')
cons_2004.head()

,Hour_End,Hour_End.1,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,2004-01-01 01:00:00.003,2004-01-01 01:00:00.003,7225.087742,877.786281,1044.891487,745.789652,7124.208773,1660.451157,3639.115900,654.610079,22971.941071
1,2004-01-01 01:59:59.997,2004-01-01 01:59:59.997,6994.247187,850.745765,1032.040567,721.344360,6854.581504,1603.520440,3495.158058,639.879137,22191.517017
2,2004-01-01 03:00:00.000,2004-01-01 03:00:00.000,6717.415522,831.633221,1021.098479,699.704826,6639.484787,1527.985961,3322.697830,623.416884,21383.437510
3,2004-01-01 04:00:00.003,2004-01-01 04:00:00.003,6554.269144,823.555980,1015.411169,691.838525,6492.392024,1473.892322,3201.716842,613.488344,20866.564352
4,2004-01-01 04:59:59.997,2004-01-01 04:59:59.997,6511.185045,823.379150,1009.742072,686.764064,6452.262173,1462.759032,3163.737777,613.323295,20723.152608

In [ ]:
xl_2005 = pd.ExcelFile('./Data/Consumption/2005_ERCOT_Hourly_Load_Data.xls')
cons_2005 = xl_2005.parse('native_Load_2005')

In [ ]:
xl_2006 = pd.ExcelFile('./Data/Consumption/2006_ERCOT_Hourly_Load_Data.xls')
cons_2006 = xl_2006.parse('native_Load_2006')

In [ ]:
xl_2007 = pd.ExcelFile('./Data/Consumption/2007_ERCOT_Hourly_Load_Data.xls')
cons_2007 = xl_2007.parse('native_Load_2007')

In [ ]:
xl_2008 = pd.ExcelFile('./Data/Consumption/2008_ERCOT_Hourly_Load_Data.xls')
cons_2008 = xl_2008.parse('native_Load_2008')

In [ ]:
xl_2009 = pd.ExcelFile('./Data/Consumption/2009_ERCOT_Hourly_Load_Data.xls')
cons_2009 = xl_2009.parse('native_Load_2009')

In [ ]:
xl_2010 = pd.ExcelFile('./Data/Consumption/2010_ERCOT_Hourly_Load_Data.xls')
cons_2010 = xl_2010.parse('native_Load_2010')

In [ ]:
xl_2011 = pd.ExcelFile('./Data/Consumption/2011_ERCOT_Hourly_Load_Data.xls')
cons_2011 = xl_2011.parse('native_Load_2011')

In [ ]:
xl_2012 = pd.ExcelFile('./Data/Consumption/2012_ERCOT_Hourly_Load_Data.xls')
cons_2012 = xl_2012.parse('native_Load_2012')

In [ ]:
xl_2013 = pd.ExcelFile('./Data/Consumption/2013_ERCOT_Hourly_Load_Data.xls')
cons_2013 = xl_2013.parse('native_Load_2013')

In [ ]:
xl_2014 = pd.ExcelFile('./Data/Consumption/2014_ERCOT_Hourly_Load_Data.xls')
cons_2014 = xl_2014.parse('native_Load_2014')

In [ ]:
xl_2015 = pd.ExcelFile('./Data/Consumption/native_Load_2015.xls')
cons_2015 = xl_2015.parse('native_Load_2015')

In [ ]:
xl_2016 = pd.ExcelFile('./Data/Consumption/native_Load_2016.xlsx')
cons_2016 = xl_2016.parse('native_Load_2016')

In [ ]:
xl_2017 = pd.ExcelFile('./Data/Consumption/native_Load_2017.xlsx')
cons_2017 = xl_2017.parse('Page1_1')

In [ ]:
#Combining all of these dataframes into a single dataframe:
c_list = [cons_2002, cons_2003, cons_2004, cons_2005, cons_2006, cons_2007, cons_2008, cons_2009, cons_2010, 
          cons_2011, cons_2012, cons_2013, cons_2014, cons_2015, cons_2016, cons_2017]
cons_full = pd.concat(c_list, join = 'outer', sort = False)

In [ ]:
cons_full.head()

We see here that unfortunately, not all of the columns in the data have the same name. It appears that the regions are still the same, so we'll only need to change the names of some of the columns to be consistent.

In [ ]:
cons_2017.head()

Fortunately, the 2017 data is the only file with the differently named columns, so we simply set its column names as one of the other files and then do the concatenation.

In [ ]:
cons_2017.columns = cons_2016.columns.tolist()

In [ ]:
cons_full = pd.concat(c_list, join = 'outer', sort = False)

In [ ]:
cons_full.head()

Next, let's clean up the Hour_End column so that it contains only rounded hours.